<div>

  <div class="buttons-container">
    {{#have_prev_hash}}
    <a href="/block/{{prev_hash}}" class="pure-button pure-button-active" title="{{prev_hash}}">&larr; Previous block</a>
    {{/have_prev_hash}}
    
    {{#have_next_hash}}
    <a href="/block/{{next_hash}}" class="pure-button pure-button-active" title="{{next_hash}}">Next block &rarr;</a>
    {{/have_next_hash}}
  </div>
  
  <div class="table-header">
    Block #{{blk_height}}
  </div>
  
  <div class="table-scroller">

    <div class="table-subheader">
      Block Information
    </div>

    <div class="monospace pure-g">

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Hash</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{blk_hash}}</span>
      </div>

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>PoW hash</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{blk_pow_hash}}</span>
      </div>

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Difficulty</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{blk_difficulty}}</span>
      </div>

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Timestamp [UCT] (epoch)</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{blk_timestamp}} ({{blk_timestamp_epoch}})</span>
      </div>

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Age {{age_format}}</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{blk_age}}</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Δ [h:m:s]</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{delta_time}}</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Major.minor version</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{major_ver}}.{{minor_ver}}</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Block reward</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{blk_reward}}</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Block size [kB]</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{blk_size}}</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Nonce</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{blk_nonce}}</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Total fees</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{sum_fees}}</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>No of txs</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{no_txs}}</span>
      </div>
      
    </div>
  </div>

  <div class="table-header">
    Miner reward transaction
  </div>
  <div class="table-scroller">
    <div class="table-container">
      <table class="pure-table pure-table-striped">
	<thead>
          <tr>
            <th>hash</th>
            <th style="width:80px">outputs</th>
            <th style="width:80px">size [kB]</th>
            <th style="width:70px">version</th>
          </tr>
	</thead>
	<tbody>
          {{#coinbase_txs}}
          <tr>
            <td><a href="/tx/{{hash}}">{{hash}}</a>
            <td>{{sum_outputs}}</td>
            <td>{{tx_size}}</td>
            <td>{{version}}</td>
          </tr>
          {{/coinbase_txs}}
	</tbody>
      </table>
    </div>
  </div>


  <div class="table-header">
    Transactions ({{no_txs}})
  </div>
  {{#have_txs}}
  <div class="table-scroller">
    <div class="table-container">
      <table class="pure-table pure-table-striped">
	<thead>
	  <tr>
	    <th>hash</th>
	    <th style="width:80px">outputs</th>
	    <th style="width:80px">fee</th>
	    <th style="width:80px">ring size</th>
	    <th style="width:80px">in/out</th>
	    <th style="width:80px">size [kB]</th>
	    <th style="width:70px">version</th>
	  </tr>
	</thead>
	<tbody>
	  {{#blk_txs}}
	  <tr>
	    <td><a href="/tx/{{hash}}">{{hash}}</a></td>
	    <td>{{sum_outputs}}</td>
	    <td>{{tx_fee}}</td>
	    <td>{{mixin}}</td>
	    <td>{{no_inputs}}/{{no_outputs}}</td>                    
	    <td>{{tx_size}}</td>
	    <td>{{version}}</td>
	  </tr>
	  {{/blk_txs}}
	</tbody>
      </table>
    </div>
  </div>
  {{/have_txs}}
  {{^have_txs}}
  <div class="table-scroller">
    <div class="monospace padding">
      No transactions in this block
    </div>  
  </div>  
  {{/have_txs}}

</div>
