<div>

  <div class="table-header">
    Signed Outputs Public Keys Checker
  </div>

  <div class="table-scroller">
    <div class="monospace pure-g">

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Data file prefix</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{data_prefix}}</span>
      </div>
      
      {{#has_error}}
      <div class="pure-u-1" style="color:red">
        Attempt failed
      </div>
      <div class="pure-u-1">
        {{error_msg}}
      </div>
      {{/has_error}}
      
      {{^has_error}}
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Output keys for address</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{address}}</span>
      </div>

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Viewkey</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{viewkey}}</span>
      </div>

      {{#has_total_xmr}}
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Total Ryo</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{total_xmr}}</span>
      </div>
      {{/has_total_xmr}}
      {{/has_error}}

    </div>

    {{^has_error}}
    <div class="table-container">
      <table class="pure-table pure-table-striped">
        <thead>
          <tr>
            <th style="width: 0px;"></th>
            <th style="width: 80px;">Output no.</th>
            <th>Public key</th>
            <th style="width: 150px;">Timestamp</th>
            <th style="width: 60px;">RingCT</th>
            {{#are_key_images_known}}
            <th style="width: 70px;">Is spent?</th>
            {{/are_key_images_known}}
            <th style="width: 100px;">Amount</th>
          </tr>
        </thead>
        <tbody>
          {{#output_keys}}
          <tr>
            <td>
              <input type="hidden" id="key_img_{{key_image}}" name="key_sig_pair_{{key_image}}" value="{{signature}}">
            </td>
            <td>{{output_no}}</td>
            <td><a href="/tx/{{tx_hash}}">{{output_pub_key}}</a></td>
            <td>{{timestamp}}</td>
            <td>{{is_ringct}}</td>
            {{#are_key_images_known}}
            <td>
              {{^is_spent}}
              <span style="color: #008009;font-weight: bold">{{is_spent}}</span>
              {{/is_spent}}
              {{#is_spent}}
              {{is_spent}}
              {{/is_spent}}
            </td>
            {{/are_key_images_known}}
            <td>{{amount}}</td>
          </tr>
          {{/output_keys}}
        </tbody>
      </table>
    </div>
    {{/has_error}}
    
  </div>
</div>
