<div>

  <div class="table-header">
    Check Transaction
  </div>
  
  <div class="table-scroller">
    <div class="monospace pure-g">

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Data file prefix</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{data_prefix}}</span>
      </div>

      {{#has_error}}
      <div class="pure-u-1" style="color:red">
        Checking tx failed
      </div>
      <div class="pure-u-1">
        {{error_msg}}
      </div>
      {{/has_error}}
      
    </div>

  </div>
  
  {{#unsigned_tx_given}}

  {{#txs}}
  <div class="table-header">
    Unsigned raw tx details
  </div>

  <div class="table-scroller">
    <div class="table-container">
      <table class="pure-table pure-table-striped">
	<thead>
          <tr>
            <th style="width:100px">amount</th>
            <th style="width:70px">is change</th>
            <th>address</th>
            <th style="width:100px">payment id</th>
          </tr>
        </thead>
        <tbody>
          {{#dest_infos}}
          <tr>
            <td>{{dest_amount}}</td>
            <td><span>False</span></td>
            <td>{{dest_address}}</td>
            <td>
              {{#has_payment_id}}
              {{payment_id}}<br/>
              {{/has_payment_id}}
              {{#has_payment_id8}}
              {{payment_id8}} (encrypted)<br/>
              {{/has_payment_id8}}
            </td>
          </tr>
          {{/dest_infos}}
          <tr>
            <td>{{change_amount}}</td>
            <td>
              <span style="color: #008009;font-weight: bold">True</span>
            </td>
            <td>Return to sender</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="table-header">
    Input ring size time scale
  </div>
  
  <div class="table-scroller">
    <div class="table-container">
      
      <div class="table-subheader">
        (from {{min_mix_time}} till {{max_mix_time}};
        resolution: {{timescales_scale}} days{{#have_raw_tx}}; R - real ring member {{/have_raw_tx}})
      </div>

      <ul class="margin" style="padding:0">
        {{#timescales}}
        <li  style="list-style-type:none;text-align:center;font-size:8px;margin-bottom:8px">|{{timescale}}|</li>
        {{/timescales}}
      </ul>
    </div>
  </div>

  <div class="table-header">
    Outputs
  </div>

  <div class="table-scroller">
    <div class="table-container multi-table-container">
      
      <div class="table-subheader">
        Output(s) for total of {{sum_outputs_amounts}} Ryo
      </div>

      {{#dest_sources}}
      <table class="pure-table pure-table-striped">
	<thead>
	  <tr>
            <th style="width:100px">output index</th>
            <th>stealth address</th>
            <th style="width:60px">is real</th>
            <th style="width:130px">age {{age_format}}</th>
            <th style="width:100px">amount</th>
	  </tr>
	</thead>
	<tbody>
          {{#outputs}}
          <tr>
            <td>{{out_index}}</td>
            <td><a href="/tx/{{tx_hash}}">{{out_pub_key}}</a></td>
            {{#is_real}}
            <td><span style="color: #008009;font-weight: bold">{{is_real}}</span></td>
            {{/is_real}}
            {{^is_real}}
            <td>{{is_real}}</td>
            {{/is_real}}
            <td>{{output_age}}</td>
            <td>{{output_amount}}</td>
          </tr>
          {{/outputs}}
        </tbody>
      </table>
      {{/dest_sources}}

    </div>
  </div>
      
  {{/txs}}
  
  {{/unsigned_tx_given}}

  {{^unsigned_tx_given}}

  {{#txs}}
  <div class="table-header">
    Signed raw tx details
  </div>
  
  <div class="table-scroller">
    <div class="table-container">
      <table class="pure-table pure-table-striped">
	<thead>
          <tr>
            <th style="width:140px">amount</th>
            <th style="width:70px">is change</th>
            <th>address</th>
          </tr>
        </thead>
        <tbody>
          {{#dest_infos}}
          <tr>
            <td>{{dest_amount}}</td>
            <td>
              {{#is_this_change}}
              <span style="color: #008009;font-weight: bold">True</span>
              {{/is_this_change}}
              {{^is_this_change}}
              <span>False</span>
              {{/is_this_change}}
            </td>
            <td>{{dest_address}}</td>
          </tr>
          {{/dest_infos}}
        </tbody>
      </table>
    </div>
  </div>
  
  {{>tx_details}}

  {{#tx_json}}
  <pre>
    <code>
      {{tx_json}}
    </code>
  </pre>
  {{/tx_json}}
  
  {{/txs}}

  {{/unsigned_tx_given}}


</div>
