<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="preload" href="/static/style.css" as="style" type="text/css">
    <link rel="preload" href="/static/logo.svg" as="image" type="image/svg+xml">
    <link rel="preload" href="/static/background.jpeg" as="image" type="image/jpeg">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">

    <meta name="apple-mobile-web-app-title" content="Ryo Currency">
    <meta name="application-name" content="Ryo Currency">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    {{#refresh}}
        <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>Ryo Blockchain Explorer</title>

    {{#js_files}}{{/js_files}}

</head>
<body>
  <div class="container">
    <header>

      <div class="logo">
	<a href="/">
    <img src="/static/logo.svg" alt="logo" width="auto" height="auto" />
	</a>
      </div>

      <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
	<ul class="pure-menu-list">
	  <li class="pure-menu-item"><a href="/" class="pure-menu-link">Main page</a></li>
	  <li class="pure-menu-item"><a href="/txpool" class="pure-menu-link">Transaction pool</a></li>
	  <li class="pure-menu-item"><a href="/rawtx" class="pure-menu-link">Transaction pusher</a></li>
	  <li class="pure-menu-item"><a href="/rawkeyimgs" class="pure-menu-link">Key images checker</a></li>
	  <li class="pure-menu-item"><a href="/rawoutputkeys" class="pure-menu-link">Output keys checker</a></li>
	  <li class="pure-menu-item"><a href="/api" class="pure-menu-link">API</a></li>
	</ul>
      </div>

      <div class="search">
        <form action="/search" method="get" class="pure-form">
            <input type="text" name="value"
                   placeholder="block height, block hash, transaction hash, public address">
            <input type="submit" value="Search" class="pure-button pure-button-active">
        </form>
      </div>
      
    </header>
