<div>

  <div class="table-header">
    Transaction Details
  </div>

  <div class="table-scroller">

    <div class="monospace pure-g">

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Tx hash</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span><a href="/tx/{{tx_hash}}">{{tx_hash}}</a></span>
      </div>

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Tx public key</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{tx_pub_key}}</span>
        <span id="add_tx_pub_keys" style="display: none;">{{add_tx_pub_keys}}</span>
      </div>

      {{#uniform_payment_id}}
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Uniform payment id</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span id="payment_id">{{uniform_payment_id}}</span>
      </div>
      {{/uniform_payment_id}}
      
      {{#has_payment_id}}
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Payment id</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span id="payment_id">{{payment_id}}</span>
      </div>
      {{/has_payment_id}}
      
      {{#has_payment_id8}}
      {{^decrypted_payment_id8}}
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Payment id (encrypted)</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span id="payment_id">{{payment_id8}}</span>
      </div>
      {{/decrypted_payment_id8}}
      {{#decrypted_payment_id8}}
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Payment id (decrypted)</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span id="payment_id">{{decrypted_payment_id8}} (value incorrect if you are not the recipient of the tx)</span>
      </div>
      {{/decrypted_payment_id8}}
      {{/has_payment_id8}}

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Timestamp [UCT]</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{blk_timestamp}}</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Age [y:d:h:m:s]</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{delta_time}}</span>
      </div>

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Block</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        {{#is_mined}}
        <span><a href="/block/{{blk_height}}">{{blk_height}}</a></span>
        {{/is_mined}}
        {{^is_mined}}
        <span>{{blk_height}}</span>
        {{/is_mined}}
      </div>

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Fee</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{tx_fee}}</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Tx size</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{tx_size}} kB</span>
      </div>
      
    </div>
  </div>    
  
  {{^tx_prove}}
  <div class="table-header">
    Decode outputs
  </div>
  <div class="table-scroller">
    <div class="monospace pure-g">
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Address</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{xmr_address}}</span>
      </div>
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Viewkey</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{viewkey}}</span>
      </div>
      <div class="pure-u-1">
        <a class="pure-button pure-button-active" href="{{shortcut_url}}" target="_blank">link to this page</a>
      </div>
    </div>
  </div>
  {{/tx_prove}}
  
  {{#tx_prove}}
  <div class="table-header">
    Prove sending
  </div>
  <div class="table-scroller">
    <div class="monospace pure-g">
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Address</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{xmr_address}}</span>
      </div>

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Tx private key</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{viewkey}}</span>
      </div>
      <div class="pure-u-1">
        <a class="pure-button pure-button-active" href="{{shortcut_url}}" target="_blank">link to this page</a>
      </div>
    </div>
  </div>
  {{/tx_prove}}

  
  <div class="table-header">
    Outputs ({{outputs_no}})
  </div>

  <div class="table-scroller">
    <div class="table-container">
      
      <div class="table-subheader">
        Sum Ryo from matched outputs (i.e., incoming Ryo):
        {{#found_our_outputs}}
        {{sum_xmr}}
        {{/found_our_outputs}}
        {{^found_our_outputs}}
        0.000000000
        {{/found_our_outputs}}
      </div>

      <table class="pure-table pure-table-striped">
        <thead>
          <tr>
            <th>output public key</th>
            <th style="width: 100px">amount</th>
            <th style="width: 100px">output match?</th>
          </tr>
        </thead>
        <tbody>
          {{#outputs}}
          <tr>
            <td>{{output_idx}}: {{out_pub_key}}</td>
            <td>{{amount}}</td>
            {{#mine_output}}
            <td>
              <span style="color: #008009;font-weight: bold">
                {{mine_output}}
              </span>
            </td>
            {{/mine_output}}
            {{^mine_output}}
            <td>{{mine_output}}</td>
            {{/mine_output}}
          </tr>
          {{/outputs}}
        </tbody>
      </table>

    </div>
  </div>


  {{#show_inputs}}
  <div class="table-header">
    Inputs ({{inputs_no}})
  </div>

  <div class="table-scroller">
    <div class="table-container multi-table-container">
      
      {{#inputs}}
      <div class="table-subheader">
        Key image: {{key_image}}, Amount {{key_image_amount}}
      </div>

      {{#mixins}}
      {{#has_mixin_outputs}}
      {{#mixin_outputs}}
      <div class="table-subheader" style="font-weight: normal">
        Ring member {{mixin_pub_key}} might use your outputs
        <br/>
        from tx of hash: <a href="/tx/{{mix_tx_hash}}">{{mix_tx_hash}}</a>
        <br/>
        tx public key: {{mix_tx_pub_key}}
      </div>
      {{#has_found_outputs}}
      <table class="pure-table pure-table-striped">
        <thead>
          <tr>
            <th>output public key</th>
            <th style="width: 100px">amount</th>
            <th style="width: 100px">output match?</th>
          </tr>
        </thead>
        <tbody>
          {{#found_outputs}}
          <tr>
            <td>{{my_public_key}}</td>
            <td>{{amount}}</td>
            <td>
              {{#mine_output}}
              <span style="color: #008009;font-weight: bold">{{mine_output}}</span>{{#out_in_match}}*{{/out_in_match}}
              {{/mine_output}}
              {{^mine_output}}
              {{mine_output}}
              {{/mine_output}}
            </td>
          </tr>
          {{/found_outputs}}
        </tbody>
      </table>
      {{/has_found_outputs}}
      {{/mixin_outputs}}
      {{/has_mixin_outputs}}
      {{/mixins}}
      {{/inputs}}
      
    </div>
  </div>
  
  <div class="table-header">
    Details
  </div>

  <div class="table-scroller">
    <div class="table-container multi-table-container">
      <table class="pure-table pure-table-striped">
        <tr>
          <td>Sum from matched and marked by * ring member's outputs</td>
          <td>{{sum_mixin_xmr}} Ryo</td>
        </tr>
        <tr>
          <td>Possible spending is</td>
          <td>{{possible_spending}} Ryo (tx fee included)</td>
        </tr>
        <tr>
          <td colspan="2">
            Note: without private spendkey,
            it is impossible to know whether this is your real spending.
          </td>
        </tr>
      </table>
    </div>
  </div>
  {{/show_inputs}}

</div>
