<div>
  {{#has_error}}
  <div class="table-header">
    Transaction Details
  </div>
  <div class="table-scroller padding">
    <p style="color:red">Attempt failed</p>
    {{#error_tx_not_found}}
    <p>Tx {{tx_hash}} not found.</p>
    <p>If this is newly made tx, it can take some time (up to a minute)
      for it to get propagated to all nodes' mempools.</p>
    <p>Please refresh in 10-20 seconds to check if it's here then.</p>
    {{/error_tx_not_found}}
    {{^error_tx_not_found}}
    <p>Unknown error</p>
    {{/error_tx_not_found}}
  </div>
  {{/has_error}}
  {{^has_error}}
  {{#txs}}
  {{>tx_details}}
  {{/txs}}
  {{/has_error}}
</div>
