<div>

  <div class="buttons-container">
    {{#have_prev_hash}}
    <a href="/tx/{{prev_hash}}" class="pure-button pure-button-active" title="{{prev_hash}}">&larr; Previous tx</a>
    {{/have_prev_hash}}
    
    {{#have_next_hash}}
    <a href="/tx/{{next_hash}}" class="pure-button pure-button-active" title="{{next_hash}}">Next tx &rarr;</a>
    {{/have_next_hash}}
  </div>

  <div class="table-header">
    Transaction Details
  </div>

  <div class="table-scroller">

    <div class="monospace pure-g">

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Tx hash</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{tx_hash}}</span>
      </div>

      {{#enable_mixins_details}}
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Tx prefix hash</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{tx_prefix_hash}}</span>
      </div>
      {{/enable_mixins_details}}

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Tx public key</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{tx_pub_key}}</span>
        <span id="add_tx_pub_keys" style="display: none;">{{add_tx_pub_keys}}</span>
      </div>

      {{#has_uniform_payment_id}}
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Uniform payment id</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span id="payment_id">Encrypted (use decode outputs or prove sending to decrypt)</span>
      </div>
      {{/has_uniform_payment_id}}
      
      {{#has_payment_id}}
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Payment id</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span id="payment_id">{{payment_id}}</span>
      </div>
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Payment id as ascii</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{payment_id_as_ascii}}</span>
      </div>
      {{/has_payment_id}}
      
      {{#has_payment_id8}}
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Payment id (encrypted)</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span id="payment_id">{{payment_id8}}</span>
      </div>
      {{/has_payment_id8}}

      {{^have_raw_tx}}
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Age [y:d:h:m:s]</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{delta_time}}</span>
      </div>

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Timestamp [UCT] (epoch)</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{blk_timestamp}} ({{blk_timestamp_uint}})</span>
      </div>
      {{/have_raw_tx}}

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Block</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        {{#is_mined}}
        <span><a href="/block/{{blk_height}}">{{blk_height}}</a> ({{confirmations}} confirmations)</span>
        {{/is_mined}}
        {{^is_mined}}
        <span>{{blk_height}} ({{confirmations}} confirmations)</span>
        {{/is_mined}}
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Fee (per_kB)</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{tx_fee}} ({{payed_for_kB}})</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Tx size</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{tx_size}} kB</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Tx version</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{tx_version}}</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>RingCT type</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        {{#is_bp}}
        <span>{{rct_type}} (Bulletproof)</span>
        {{/is_bp}}
        {{^is_bp}}
        <span>{{rct_type}}</span>
        {{/is_bp}}
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Extra</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{extra}}</span>
      </div>
      
    </div>
  </div>

  <div class="table-header">
    Outputs
  </div>
  
  <div class="table-scroller">
    <div class="table-container">
      
      <div class="table-subheader">
        {{outputs_no}} output(s) for total of {{outputs_xmr_sum}} Ryo
      </div>

      <table class="pure-table pure-table-striped">
	<thead>
	  <tr>
            <th>stealth address</th>
            <th style="width:140px">amount</th>
            <th style="width:160px">amount idx</th>
	  </tr>
	</thead>
	<tbody>
	  {{#outputs}}
	  <tr>
            <td>{{output_idx}}: {{out_pub_key}}</td>
            <td>{{amount}}</td>
            <td>{{amount_idx}} of {{num_outputs}}</td>
	  </tr>
	  {{/outputs}}
	</tbody>
      </table>
    </div>
  </div>

  {{^have_raw_tx}}
  <div class="tabs-scroller">
    <div class="tabs-container">

      <div class="tabs">

	<div class="tab">
          <input type="radio" id="tab-1" name="tab-group-1" checked>
          <label for="tab-1">Decode outputs</label>
          <div class="content">
            <p style="margin: 0px">
              Check which outputs belong to given Ryo address/subaddress and viewkey<br/>
              {{#enable_js}}
              Note: address/subaddress and viewkey are NOT sent to the server, as the calculations are done on the client side
              {{/enable_js}}
              {{^enable_js}}
              Note: address/subaddress and viewkey are sent to the server, as the calculations are done on the server side
              {{/enable_js}}
            </p>
            <form action="/myoutputs" method="post" class="pure-form">
              <input type="hidden" name="tx_hash" value="{{tx_hash}}"/>
              <input type="text" name="xmr_address" placeholder="Ryo address/subaddress" class="pure-input-1" />
              <input type="text" name="viewkey" placeholder="Private viewkey" class="pure-input-1" />
              <input type="hidden" name="raw_tx_data" value="{{raw_tx_data}}" />
              <!--above raw_tx_data field only used when checking raw tx data through tx pusher-->

              {{#enable_js}}
              <!-- if have js, DONOT submit the form to server.
                   change submit button, to just a button -->
              <button type="button" id="decode_btn" class="pure-button pure-button-active">Decode outputs</button>
              {{/enable_js}}
              {{^enable_js}}
              <input type="submit" value="Decode outputs" class="pure-button pure-button-active" />
              {{/enable_js}}
            </form>
          </div>
	</div>

	<div class="tab">
          <input type="radio" id="tab-2" name="tab-group-1">
          <label for="tab-2">Prove sending</label>

          <div class="content">
            <p style="margin: 0px">
              Prove to someone that you have sent them Ryo in this transaction<br/>
              Tx private key can be obtained using <code>get_tx_key</code> command in <code>ryo-wallet-cli</code><br/>
              {{#enable_js}}
              Note: address/subaddress and tx private key are NOT sent to the server, as the calculations are done on the client side
              {{/enable_js}}
              {{^enable_js}}
              Note: address/subaddress and tx private key are sent to the server, as the calculations are done on the server side
              {{/enable_js}}
            </p>
            <form action="/prove" method="post" class="pure-form">
              <input type="hidden" name="txhash" value="{{tx_hash}}" />
              <input type="text" name="txprvkey" placeholder="Tx private key" class="pure-input-1" />
              <input type="hidden" name="raw_tx_data" value="{{raw_tx_data}}" />
              <!--above raw_tx_data field only used when checking raw tx data through tx pusher-->
              <input type="text" name="xmraddress" placeholder="Recipient's ryo address/subaddress" class="pure-input-1" />

              {{#enable_js}}
              <!-- if have js, DONOT submit the form to server.
                   change submit button, to just a button -->
              <button type="button" id="prove_btn" class="pure-button pure-button-active">Prove sending</button>
              {{/enable_js}}
              {{^enable_js}}
              <input type="submit" value="Prove sending" class="pure-button pure-button-active" />
              {{/enable_js}}

            </form>
          </div>
	</div>
      </div>
    </div>
  </div>

  {{/have_raw_tx}}

  {{#enable_js}}

  <!-- to disply results from decoding and proving txs using js -->
  <div id="decode-prove-results" class="center" style="width: 80%; margin-top:10px;border-style: dotted">

  </div>

  <script>
//  here we handle button presses from the above forms
//  to decode and prove txs.
$(document).ready(function() {

    // we need output pubplic keys, their indexes and amounts.
    // all this is already avaliable on the html, but we can use
    // musch framework to produce js array for this

    var tx_json = {{#tx_json_raw}}{{/tx_json_raw}};

    var tx_public_key = $("#tx_pub_key").text();

    // when we process multi-ouput tx, it can have extra public keys
    // due to sub-addresses
    var add_tx_pub_keys = $("#add_tx_pub_keys").text().split(';').slice(0, -1);

    //console.log("add_tx_pub_keys: ", add_tx_pub_keys);

    var payment_id = $("#payment_id").text();


    $("#decode_btn").click(function() {

        var address = $("input[name=xmr_address]").val().trim();
        var viewkey = $("input[name=viewkey]").val().trim();

        if (!address || !viewkey) {
            $("#decode-prove-results").html("<h4>Address or viewkey key not provided!</h4>");
            return;
        }

        // not used when decoding, but used when proving.
        // so we just use array here
        multiple_tx_secret_keys = [];

        try {
            var address_decoded = decode_address(address);
            decodeOutputs(tx_json, tx_public_key, viewkey,
                          address_decoded.spend, payment_id,
                          add_tx_pub_keys, multiple_tx_secret_keys, false);
        } catch(err){
            console.log(err);
            $("#decode-prove-results").html('<h4>Error: ' + err + '</h4>' );
        }
    });

    $("#prove_btn").click(function() {

        var address    = $("input[name=xmraddress]").val().trim();
        var tx_prv_key = $("input[name=txprvkey]").val().trim();

        if (!address || !tx_prv_key) {
            $("#decode-prove-results").html("<h4>Address or tx private key not provided!</h4>");
            return;
        }

        try {
            // when using subaddress, there can be more than one tx_prv_key
            var multiple_tx_prv_keys = parse_str_secret_key(tx_prv_key);

            var address_decoded = decode_address(address);
            decodeOutputs(tx_json, address_decoded.view, tx_prv_key,
                          address_decoded.spend, payment_id,
                          add_tx_pub_keys, multiple_tx_prv_keys, true);
        } catch(err){
            console.log(err);
            $("#decode-prove-results").html('<h4>Error: ' + err + '</h4>' );
        }
    });

});

// based on C++ code by stoffu
function parse_str_secret_key(key_str) {

    var multiple_tx_secret_keys = [];

    var num_keys = Math.floor(key_str.length / 64);

    if (num_keys * 64 !=  key_str.length)
        throw "num_keys * 64 !=  key_str.length";

    for (var i = 0; i < num_keys; i++)
    {
	multiple_tx_secret_keys.push(key_str.slice(64*i, 64*i + 64));
    }

    return multiple_tx_secret_keys;
}


function decodeOutputs(tx_json, pub_key, sec_key,
                       address_pub_key, payment_id,
                       add_tx_pub_keys,  multiple_tx_prv_keys, tx_prove) {
    //console.log(tx_json);

    var is_rct = (tx_json.version === 2);
    var rct_type = (is_rct ? tx_json.rct_signatures.type : -1);

    var key_derivation = "";

    if (tx_prove)
	key_derivation = generate_key_derivation(pub_key, multiple_tx_prv_keys[0]);
    else
	key_derivation = generate_key_derivation(pub_key, sec_key);


    var add_key_derivation = [];

    if (add_tx_pub_keys) {
	for (var i = 0; i < add_tx_pub_keys.length; i++)
	{
	    if (!tx_prove)
		add_key_derivation.push(generate_key_derivation(add_tx_pub_keys[i], sec_key));
	    else
		add_key_derivation.push(generate_key_derivation(pub_key, multiple_tx_prv_keys[i+1]));
	}
    }

    //console.log("add_key_derivation: ", add_key_derivation);


    // go over each tx output, and check if it is ours or not
    var decoding_results_str = '<h3>Output decoding results</h3>';

    decoding_results_str += '<table class="center">';

    decoding_results_str += '<tr>' +
	'<td></td>' +
	'<td>output public key</td>' +
	'<td>amount</td>' +
	'<td>output match?</td>' +
	'</tr>';

    var output_idx = 0;

    var sum_outptus = 0;

    tx_json.vout.forEach(function(output) {

	var output_pub_key = output.target.key;
	var amount         = output.amount;

	var pubkey_generated = derive_public_key(key_derivation, output_idx, address_pub_key);

	var mine_output = (output_pub_key == pubkey_generated);

	var with_additional = false;

	var mine_output_str = "false";

	if (!mine_output && add_tx_pub_keys.length == tx_json.vout.length) {

	    pubkey_generated = derive_public_key(add_key_derivation[output_idx],
                                                 output_idx, address_pub_key);

	    mine_output = (output_pub_key == pubkey_generated);
	    with_additional = true;
	}

	if (mine_output) {

	    mine_output_str = '<span style="color: #008009;font-weight: bold">true</span>';

	    if (is_rct && rct_type > 0 /* not coinbase*/) {
                try {
                    //var ecdh = decodeRct(tx_json.rct_signatures, output_idx, key_derivation);
                    var ecdh = decodeRct(tx_json.rct_signatures, output_idx,
                                         (with_additional ? add_key_derivation[output_idx] : key_derivation));


                    amount = parseInt(ecdh.amount);
                } catch (err) {
                    decoding_results_str += "<span class='validNo'>RingCT amount for output " + i + " with pubkey: " + output_pub_key + "</span>" + "<br>"; //rct commitment != computed
                    throw "invalid rct amount";
                }
            }

            sum_outptus += amount;
	}

	decoding_results_str += "<tr>"
            +"<td>" + output_idx +  "</td>"
            +"<td>" + output_pub_key +  "</td>"
            +"<td>" + (amount / 1e9) +  "</td>"
            +"<td>" + mine_output_str +  "</td>"
            +"</tr>";

	//console.log(output[1], pubkey_generated);

	output_idx++;
    });

    decoding_results_str += "</table>";

    decoding_results_str += "<h3>Sum Ryo from matched outputs (i.e., incoming Ryo): " + (sum_outptus / 1e9) + "</h3>"


    // decrypt payment_id8 which results in using
    // integrated address
    if (payment_id.length == 16) {
	if (pub_key) {
            var decrypted_payment_id8
                = decrypt_payment_id(payment_id, pub_key, sec_key);
            console.log("decrypted_payment_id8: " + decrypted_payment_id8);
            decoding_results_str += "<h5>Decrypted payment id: "
                + decrypted_payment_id8
                + " (value incorrect if you are not the recipient of the tx)</h5>"
	}
    }


    $("#decode-prove-results").html(decoding_results_str);
}
  </script>
  {{/enable_js}}


  {{#has_inputs}}
  {{#enable_mixins_details}}
  <div class="table-header">
    Input ring size time scale
  </div>
  
  <div class="table-scroller">
    <div class="table-container">
      
      <div class="table-subheader">
        (from {{min_mix_time}} till {{max_mix_time}};
        resolution: {{timescales_scale}} days{{#have_raw_tx}}; R - real ring member {{/have_raw_tx}})
      </div>

      <ul class="margin" style="padding:0">
        {{#timescales}}
        <li  style="list-style-type:none;text-align:center;font-size:8px;margin-bottom:8px">|{{timescale}}|</li>
        {{/timescales}}
      </ul>
    </div>
  </div>
  {{/enable_mixins_details}}

  <div class="table-header">
  {{^inputs_xmr_sum_not_zero}}
  {{inputs_no}} input(s) for total of {{inputs_xmr_sum}} Ryo
  {{/inputs_xmr_sum_not_zero}}
  {{#inputs_xmr_sum_not_zero}}
  {{^have_any_unknown_amount}}
  {{inputs_no}} inputs(s) for total of {{inputs_xmr_sum}} Ryo
  {{/have_any_unknown_amount}}
  {{#have_any_unknown_amount}}
  {{inputs_no}} inputs(s) for total of at least {{inputs_xmr_sum}} Ryo
  {{/have_any_unknown_amount}}
  {{/inputs_xmr_sum_not_zero}}
  </div>

  <div class="table-scroller">
    <div class="table-container multi-table-container">

      {{#inputs}}

      <div class="table-subheader">
        Key image  {{input_idx}}: {{in_key_img}}

        {{#have_raw_tx}}
        , Already spent:
        {{#already_spent}}
        <span style="color: red; font-weight: bold;">True</span>
        {{/already_spent}}
        {{^already_spent}}
        False
        {{/already_spent}}
        {{/have_raw_tx}}

        , Amount: {{amount}}
      </div>
      
      {{#enable_mixins_details}}
      <table class="pure-table pure-table-striped">
	<thead>
          <tr>
            <th>ring members</th>
            {{#have_raw_tx}}
            <th style="width:60px">is real</th>
            {{/have_raw_tx}}
            <th style="width:80px">blk</th>
            <th style="width:40px">ring size</th>
            <th style="width:50px">in/out</th>
            <th style="width:150px">timestamp</th>
            <th style="width:130px">age [y:d:h:m:s]</th>
          </tr>
	</thead>
	<tbody>
          {{#mixins}}
          <tr>
            <td> - {{mix_idx}}: <a href="/tx/{{mix_tx_hash}}">{{mix_pub_key}}</a></td>
            {{#have_raw_tx}}
            {{#mix_is_it_real}}
            <td><span style="color: #008009;font-weight: bold">{{mix_is_it_real}}</span></td>
            {{/mix_is_it_real}}
            {{^mix_is_it_real}}
            <td>{{mix_is_it_real}}</td>
            {{/mix_is_it_real}}
            {{/have_raw_tx}}
            <td>{{mix_blk}}</td>
            <td>{{mix_mixin_no}}</td>
            <td>{{mix_inputs_no}}/{{mix_outputs_no}}</td>
            <td>{{mix_timestamp}}</td>
            <td>{{mix_age}}</td>
          </tr>
          {{/mixins}}
	</tbody>
      </table>
      {{/enable_mixins_details}}
      {{^enable_mixins_details}}
      <table class="pure-table pure-table-striped">
	<thead>
          <tr>
            <th>ring members</th>
            {{#have_raw_tx}}
            <th>Is it real?</th>
            {{/have_raw_tx}}
            <th>blk</th>
          </tr>
	</thead>
	<tbody>
          {{#mixins}}
          <tr>
            <td> - {{mix_idx}}: {{mix_pub_key}}</td>
            {{#have_raw_tx}}
            {{#mix_is_it_real}}
            <td><span style="color: #008009;font-weight: bold">{{mix_is_it_real}}</span></td>
            {{/mix_is_it_real}}
            {{^mix_is_it_real}}
            <td>{{mix_is_it_real}}</td>
            {{/mix_is_it_real}}
            {{/have_raw_tx}}
            <td>{{mix_blk}}</td>
          </tr>
          {{/mixins}}
	</tbody>
      </table>
      {{/enable_mixins_details}}

      {{/inputs}}
      
    </div>
  </div>
  
  {{/has_inputs}}

  {{#show_part_of_inputs}}
  <p>
    Only {{max_no_of_inputs_to_show}} inputs are shown. To see all,
    click more details.
  </p>
  {{/show_part_of_inputs}}
  
  {{^have_raw_tx}}
  
  {{^with_ring_signatures}}
  {{#show_more_details_link}}
  <div class="margin padding text-center">
    <a class="pure-button pure-button-active" href="/tx/{{tx_hash}}/1">More details</a>
  </div>
  {{/show_more_details_link}}
  {{/with_ring_signatures}}

  {{#with_ring_signatures}}
  <div id="decoded-inputs">
    <pre>
      <code>
        {{tx_json}}
      </code>
    </pre>
  </div>

  <div class="margin padding text-center">
    <a class="pure-button pure-button-active" href="/tx/{{tx_hash}}">Less details</a>
  </div>
  
  {{/with_ring_signatures}}
  
  {{/have_raw_tx}}


  {{#show_cache_times}}
  <div>
    {{#construction_time}}
    <h6 style="margin-top: 1px;color:#949490">
      Tx details construction time: {{construction_time}} s
      {{#from_cache}}
      <br/>Tx read from the tx cache
      {{/from_cache}}
    </h6>
    {{/construction_time}}
  </div>
  {{/show_cache_times}}

</div>
