html{min-height:100%}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.center {
    color: #c7c7c7;
    margin: auto;
    width: 96%;
}


tr, li, #pages, .info {
    font-family: "Lucida Console", Monaco, monospace;
    font-size  : 12px;
    height: 22px;
}

#pages
{
    margin-top: 15px;
}

tr:first-child td {
    background: #1d1d1d;
}

.center:first-child {
    /*background: red;*/
}

h1.center {
    background: #313131;
}

td {
    text-align: center;
    /*border-top: 1px solid #636363;*/
	background: #525252;
}

td:first-child {
    background: #232323;
}

tr:hover td {
  background-color:black; color: white;
}

a:link {
    text-decoration: underline;
    color: #c7c7c7c7;
}

a:visited {
    text-decoration: none;
    color: #8c8c8c;
}

a:hover {
    text-decoration: underline;
    color: white;
}

a:active {
    text-decoration: none;
    color: #313131;
}

form {
    display: inline-block;
    text-align: center;
}

.style-1 input[type="text"] {
    padding: 2px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}


.tabs {
    position: relative;
    min-height: 220px; /* This part sucks */
    clear: both;
    margin: 25px 0;
}

.tab {
    float: left;
}

/*
.tab label {
    background: black;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
}
*/

.tab [type=radio] {
    display: none;
}

/*
.content {
    position: absolute;
    top: 28px;
    left: 0;
    background: black;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
}
*/

[type=radio]:checked ~ label {
    z-index: 3;
    background: rgb(132, 132, 132);
    margin-bottom: 28px;
}

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

input#toggle-1[type=checkbox] {
    position: absolute;
    /*top: -9999px;*/
    left: -9999px;

}
label#show-decoded-inputs {
    /*-webkit-appearance: push-button;*/
    /*-moz-appearance: button;*/
    display: inline-block;
    /*margin: 60px 0 10px 0;*/
    cursor: pointer;
    background-color: black;;
    color: white;
    width: 100%;
    text-align: center;
}

div#decoded-inputs{
    display: none;
}

/* Toggled State */
input#toggle-1[type=checkbox]:checked ~ div#decoded-inputs {
    display: block;
}


/*addition*/

/*
body {
    background: #171717;
    color:white;
}
*/


h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira', sans-serif;
	color: #c7c7c7;
	font-weight:400;
}

body > div.center > table > tbody > tr > td > a {
    text-overflow: clip;
    text-decoration: none;
    letter-spacing: 1px !important;
}

body > div.center > table > tbody > tr > td > a:hover {
  cursor: pointer;
  text-decoration:underline;
}

body > div.center > table > tbody > tr > td > a:hover {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /* border: none; */
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 1px 1px 20px rgb(254,252,201), -1px -1px 30px rgb(254,236,133), -7px -1px 40px rgb(255,174,52), 9px -1px 50px rgb(236,118,12), -9px -4px 60px rgb(205,70,6), 1px -5px 70px rgb(151,55,22), -1px -1px 80px rgb(69,27,14);
}

body > div.center > table > tbody > tr > td > a:active {
  margin: 5px 0 10px;
 
}

/*
body {
    background: #7b7b7b;
    color: black;
}
*/

/*
body {background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAI0lEQVQYV2P89OnT/2kn/zFkmTMxgGjGjt0f/sM4IJqRoAoAosYgExIhkAAAAAAASUVORK5CYII=) repeat;
}
*/

.tab label {
	font-family: 'Saira', sans-serif;
	background: rgb(111, 111, 111);
    color: #ffffff;
    padding: 5px;
	padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #000;
    margin-left: -1px;
    position: relative;
    left: 1px;
    border-radius: 11px 11px 0 0;
    border-bottom: 0px solid white !important;
    padding-bottom: 11px;
	text-shadow: 0 0 2px #5f5f5f;
}


@-moz-document url-prefix() { 
	.tab label {
	top:6px;
	}
}


@-moz-document url-prefix() {
    @supports (animation: calc(0s)) {
        .tab label {
	top:-4px;
	}
    }
}


body {
    height: 100%;
/*    color: #313131;*/
	color: #787878;
    background: rgb(49, 49, 49);
}

.content {
	color: black !important;
    position: absolute;
    top: 24px;
    left: 0;
    background: #c7c7c7;
	background: rgb(132, 132, 132);
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #000;
    text-decoration: none;
    letter-spacing: 1px !important;
    margin-bottom: -5px;
}